<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include("../fragmente/head.ejs") %>
    <title>Nixxie DrugStore</title>
    <meta name="keywords" content="drogherie, produse, cosmetice, pastile">
    <meta name="description" content="Drogheria Nixxie">
    <link rel="stylesheet" href="/Resurse/css/produse.css" type="text/css"/>
    <script type="text/javascript" src="/Resurse/js/produse.js"></script>
</head>
<body>
    <%- include("../fragmente/header") %>

    <main>
    Ai fost delogat!
</main>

<footer>
    <%- include('../fragmente/footer') %>
</footer>

</body>
</html>