<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>Nixxie DrugStore- utilizatori</title>
        <%- include("../fragmente/head") %>    
    </head>
    <body>
    <%- include("../fragmente/header") %>
    <header>
        <h1>Politica de confidențialitate</h1>
    </header>
    <main>
        <section>
            <h2>Informații colectate</h2>
            <p>La Nixxie DrugStore, colectăm informații personale de la utilizatori, cum ar fi adresele de e-mail, numele, adresele de livrare și numerele de telefon. Aceste informații sunt colectate în momentul înregistrării unui cont sau plasării unei comenzi.</p>
        </section>

        <section>
            <h2>Utilizarea informațiilor</h2>
            <p>Informațiile personale colectate de la utilizatori sunt utilizate în principal pentru procesarea comenzilor și livrarea produselor. De asemenea, utilizăm aceste informații pentru a comunica cu utilizatorii în legătură cu comenzi, actualizări ale produselor și oferte speciale.</p>
        </section>

        <section>
            <h2>Partajarea informațiilor</h2>
            <p>La Nixxie DrugStore, ne angajăm să protejăm confidențialitatea informațiilor utilizatorilor noștri. Nu partajăm informațiile personale ale utilizatorilor cu terțe părți fără acordul lor explicit, cu excepția cazurilor în care acest lucru este necesar pentru procesarea comenzilor sau conform cerințelor legale.</p>
        </section>

        <section>
            <h2>Securitatea informațiilor</h2>
            <p>Implementăm măsuri de securitate adecvate pentru a proteja informațiile personale ale utilizatorilor noștri. Aceste măsuri includ utilizarea criptării datelor, monitorizarea regulată a sistemelor și controalele de acces adecvate.</p>
        </section>

        <section>
            <h2>Drepturile utilizatorilor</h2>
            <p>Utilizatorii au dreptul de a solicita accesul, corectarea, ștergerea sau restricționarea datelor personale pe care le deținem. Pentru orice astfel de solicitări sau întrebări legate de confidențialitate, utilizatorii pot contacta echipa noastră de suport.</p>
        </section>

        <section>
            <h2>Politica de cookie-uri</h2>
            <p>Site-ul Nixxie DrugStore utilizează cookie-uri pentru a personaliza și îmbunătăți experiența utilizatorilor. Aceste cookie-uri sunt utilizate pentru funcționalități precum reținerea preferințelor utilizatorilor, analiza traficului și oferirea de conținut relevant. Pentru mai multe informații despre cookie-uri și cum le puteți gestiona, vă rugăm să consultați politica noastră de cookie-uri.</p>
        </section>

        <section>
            <h2>Modificări ale politicii de confidențialitate</h2>
            <p>Politica noastră de confidențialitate poate fi actualizată ocazional pentru a reflecta modificări ale practicilor noastre sau cerințelor legale. Orice modificări ale politicii vor fi publicate pe această pagină, iar utilizatorii vor fi informați despre aceste modificări prin intermediul notificărilor corespunzătoare.</p>
        </section>
    </main>
</body>
<%- include("../fragmente/footer") %>

</html>
