<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>Nixxie DrugStore- utilizatori</title>
        <%- include("../fragmente/head") %>    
    </head>
    <body>
    <%- include("../fragmente/header") %>
    <main class="container mt-5">
        <h1 class="text-center">Termeni și condiții</h1>

        <section>
            <h2>1. Accesul și utilizarea site-ului</h2>
            <p>Prin accesarea și utilizarea acestui site, sunteți de acord să respectați acești termeni și condiții în întregime. Dacă nu sunteți de acord cu acești termeni și condiții sau cu oricare parte a acestora, vă rugăm să nu utilizați site-ul.</p>
        </section>

        <section>
            <h2>2. Drepturi de proprietate intelectuală</h2>
            <p>Toate drepturile de proprietate intelectuală referitoare la conținutul și designul acestui site sunt deținute de Nixxie DrugStore sau de titularii săi. Este interzisă utilizarea, reproducerea sau distribuirea neautorizată a oricărui material de pe acest site, cu excepția cazurilor în care este permisă prin lege.</p>
        </section>

        <section>
            <h2>3. Informații personale</h2>
            <p>Pentru a utiliza anumite funcționalități ale site-ului, este posibil să vi se solicite să furnizați anumite informații personale. Sunteți de acord să furnizați informații exacte, complete și actualizate și să le mențineți actualizate în mod regulat. Nixxie DrugStore colectează și procesează informațiile personale în conformitate cu politica sa de confidențialitate.</p>
        </section>

        <section>
            <h2>4. Limitarea răspunderii</h2>
            <p>În niciun caz Nixxie DrugStore nu va fi responsabilă pentru orice daune directe, indirecte, accidentale, consecințiale sau punitive rezultate din utilizarea sau imposibilitatea utilizării acestui site.</p>
        </section>

        <section>
            <h2>5. Legi aplicabile</h2>
            <p>Acești termeni și condiții sunt guvernați și interpretați în conformitate cu legile statului în care se află Nixxie DrugStore.</p>
        </section>

        <section>
            <h2>6. Modificări ale termenilor și condițiilor</h2>
            <p>Nixxie DrugStore își rezervă dreptul de a modifica acești termeni și condiții în orice moment. Orice modificări vor fi publicate pe această pagină, iar utilizarea continuă a site-ului după publicarea modificărilor constituie acceptarea dumneavoastră a acestor modificări.</p>
        </section>
    </main>

<%- include("../fragmente/footer") %>

</html>
