body.blue{
    --culoare_highlight:#000000;
    --culoare_principala:#0b70af;
    --culoare_border: black;
    --culoare_secundara: #00648f;
    --culoare_warning: #fc2208;
    --culoare_text: #9dd7e3;
    --culoare_card: #3683da;
    --padding_pagina: 1em;
    --grosime-border: 0.1em;
    color: var(--culoare_text);
    --imag-body-backgr:url("../imagini/background_blue.jpg");
    --gradient-body:linear-gradient(transparent, transparent 25%, rgba(255,255,255,0.5) 50%, transparent 75%, transparent);
    /* spatiere pagina se schimba pe ecran mediu si mic*/
  }
  
  main{
    background-image: var(--imag-body-backgr);
    /*opacity: 0.5;*/
  }
  body.blue a {
    text-decoration: none;
    color: var(--culoare_text);
  }
  
  body.blue #logo2{
    display: none;
  }
  
  body.blue .grid-produse .produs, #filtre{
    border-radius: 1em;
    border: 0.1em solid black;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2),
    -0.1em -0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2),
    -0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2),
    0.1em -0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: var(--culoare_card);
    color: var(--culoare_text);
  }
  
  body.blue h3{
    color: var(--culoare_text);
  }
  
  body.blue #art-produs{
    color: var(--culoare_text);
    background-color: var(--culoare_card);
  }
  
  body.blue .btn-primary {
    background-color: var(--culoare_principala);
    border: 0;
  }
  
  body.blue .btn-primary:hover {
    background-color: var(--culoare_principala);
    border: 0;
    color: white;
  }
  
  body.blue .btn-secondary {
    background-color: var(--culoare_highlight);
    border: 0;
    color: white;
  }
  
  #banner-container{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--culoare_principala);
    text-align: center;
    animation: slide-left 5s linear forwards;
    padding: 1em;
    border-radius: 1em;
  }
  
  @keyframes slide-left {
  
    0% {
        transform: translateX(-100%);
        background-color: var(--culoare_principala);
        border: 1px solid black;
    }
  
    25%{
        background-color: var(--culoare_secundara);
    }
  
    50% {
        
        background-color: var(--culoare_warning);
        border: 1px solid var(--culoare_secundara);
    }
  
    100%{
        transform: translateX(0%);
        background-color: var(--culoare_secundara);
        border: 1px solid black;
    }
  }
  
  #container-log{
    margin-bottom: 1em;
  }
  
  